@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Geologica:wght,CRSV@100..900,0&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "Orbitron", sans-serif ; /* "Geologica", sans-serif , "Orbitron", sans-serif */
  --font-body: "Exo 2", sans-serif ; /* "Geologica", sans-serif , "Exo 2", sans-serif */
  --font-tamil: "Anek Tamil", sans-serif ; 
  --color-accet: #5F62E9;   
  /* end color 02D1D1 border color :080808  pink :7A1F3E */
}

.tamil-mode * {
  font-family: "Anek Tamil", sans-serif !important;
}

.tamil-mode .font-heading,
.tamil-mode .font-body {
 font-family: "Anek Tamil", sans-serif !important;
}

/* src/index.css */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root::-webkit-scrollbar {
  display: none; 
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}